<div class="container">
    <%= @title%>
    <form accept-charset="UTF-8" action="/userEntry" data-remote="true" method="post" >
        <label for="user" class="container--title">Enter your name to save your likes and view pictures</label>
        <input id="user" name="user" type="text" placeholder="Enter your name" class="container--input"/>
        <input name="commit" type="submit" value="Search" data-disable-with="Search" />
    </form>
</div>
