body {
  background-color: #f8f9fa;
}
.navBtn1 {
  font-weight: bold;
  color: black;
  margin-left: 30%;
  text-decoration: none;
}
.navBtn2 {
  font-weight: bold;
  color: black;
  margin-left: 70%;
  text-decoration: none;
}
